.icon-logo{
	width: 130px;
	height: 40px;
}
.icon-menu{
	width: 20px;
	height: 20px;
}
.icon-bell{
	width: 14px;
	height: 18px;
}
.icon-pencil{
	width: 23px;
	height: 23px;
	fill: transparent;
}
.icon-vk{
	width: 19px;
	height: 11px;
}
.icon-instagram{
	width: 14px;
	height: 14px;
}
.icon-facebook{
	width: 7px;
	height: 14px;
}
.icon-like{
	width: 19px;
	height: 18px;
}
.icon-dislike{
	width: 19px;
	height: 18px;
}
.icon-comments{
	width: 16px;
	height: 15px;
}
.icon-views{
	width: 22px;
	height: 14px;
}
.icon-bookmarks{
	width: 10px;
	height: 15px;
}
.icon-chat{
	width: 32px;
	height: 30px;
}
.icon-dots_v{
	height: 14px;
	width: 4px;
}
.icon-quiz{
	height: 30px;
}
.icon-textarea-add-img{
	width: 16px;
	height: 16px;
	fill: #fff;
}
.icon-textarea-add-link{
	width: 17px;
	height: 17px;
	fill: #fff;
}
.icon-dots-horizontal{
	width: 14px;
	height: 4px;
}
.icon-trash-basket{
	width: 15px;
	height: 15px;
}
.icon-quiz-radio{
	width: 32px;
	height: 32px;
}
.icon-trash-basket-red{
	width: 15px;
	height: 15px;
}
.icon-user-actions-icon-star{
	width: 15px;
	height: 15px;
}
.icon-user-actions-icon-articles{
	width: 14px;
	height: 14px;
}
.icon-user-actions-icon-subscribers{
	width: 18px;
	height: 15px;
}
.icon-user-actions-icon-subscriptions{
	width: 18px;
	height: 15px;
}
.icon-user-actions-icon-comments{
	width: 14px;
	height: 12px;
}
.icon-warning{
	width: 34px;
	height: 34px;
}
.icon-pen{
	width: 15px;
	height: 15px;
	stroke: #737373;
}
.icon-social-vk{
	width: 34px;
	height: 34px;
}
.icon-social-fb{
	width: 34px;
	height: 34px;
}
.icon-social-inst,
.icon-social-inst-colored{
	width: 34px;
	height: 34px;
}
.icon-social-tg{
	width: 34px;
	height: 34px;
}
.icon-social-plus{
	width: 34px;
	height: 34px;
}
.icon-social-google-plus{
	width: 34px;
	height: 34px;
}
.icon-social-ok{
	width: 34px;
	height: 34px;
}
.icon-social-ya{
	width: 34px;
	height: 34px;
}


