.icon-logo{
	width: 130px;
	height: 40px;
}
.icon-menu{
	width: 20px;
	height: 20px;
}
.icon-bell{
	width: 14px;
	height: 18px;
}
.icon-pencil{
	width: 23px;
	height: 23px;
	fill: transparent;
}
.icon-vk{
	width: 19px;
	height: 11px;
}
.icon-instagram{
	width: 14px;
	height: 14px;
}
.icon-facebook{
	width: 7px;
	height: 14px;
}
.icon-like{
	width: 19px;
	height: 18px;
}
.icon-dislike{
	width: 19px;
	height: 18px;
}
.icon-comments{
	width: 16px;
	height: 15px;
}
.icon-views{
	width: 22px;
	height: 14px;
}
.icon-bookmarks{
	width: 10px;
	height: 15px;
}
.icon-chat{
	width: 32px;
	height: 30px;
}
.icon-dots_v{
	height: 14px;
	width: 4px;
}
.icon-quiz{
	height: 30px;
}
.icon-textarea-add-img{
	width: 16px;
	height: 16px;
	fill: #fff;
}
.icon-textarea-add-link{
	width: 17px;
	height: 17px;
	fill: #fff;
}
.icon-dots-horizontal{
	width: 14px;
	height: 4px;
}
.icon-trash-basket{
	width: 15px;
	height: 15px;
}
.icon-quiz-radio{
	width: 32px;
	height: 32px;
}
.icon-trash-basket-red{
	width: 15px;
	height: 15px;
}
.icon-user-actions-icon-star{
	width: 15px;
	height: 15px;
}
.icon-user-actions-icon-articles{
	width: 14px;
	height: 14px;
}
.icon-user-actions-icon-subscribers{
	width: 18px;
	height: 15px;
}
.icon-user-actions-icon-subscriptions{
	width: 18px;
	height: 15px;
}
.icon-user-actions-icon-comments{
	width: 14px;
	height: 12px;
}



.icon-add-to-cart {
	width: 22px;
	height: 19px;
	fill: #fff;
}

.icon-card {
  width: 52px;
  height: 49px;
}

.icon-cart {
  width: 19px;
  height: 19px;
}

.icon-facebook {
  width: 11px;
  height: 18px;
}

.icon-filter {
  width: 15px;
  height: 10px;
}

.icon-history {
  width: 20px;
  height: 19px;
}
.st0{opacity:.9}

.icon-instagram {
  width: 19px;
  height: 19px;
}

.icon-list {
  width: 22px;
  height: 14px;
}

.icon-location {
  width: 14px;
  height: 17px;
}

.icon-logout {
  width: 20px;
  height: 22px;
}
.st0{fill:none;stroke:#000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round}

.icon-m-cart {
  width: 14px;
  height: 14px;
}

.icon-m-close {
  width: 14px;
  height: 14px;
}

.icon-m-dropdown {
  width: 10px;
  height: 5px;
}

.icon-m-history {
  width: 14px;
  height: 13px;
}
.st0{opacity:.9}

.icon-m-left-arrow {
  width: 4px;
  height: 7px;
}

.icon-m-mail {
  width: 17px;
  height: 12px;
}
.st0{fill:#231f20}

.icon-m-menu {
  width: 20px;
  height: 8px;
}

.icon-m-minus {
  width: 8px;
  height: 8px;
}

.icon-m-phone {
  width: 14px;
  height: 14px;
}

.icon-m-plus {
  width: 8px;
  height: 8px;
}

.icon-m-right-arrow {
  width: 4px;
  height: 7px;
}

.icon-m-search {
  width: 12px;
  height: 12px;
}

.icon-m-showmore {
  width: 14px;
  height: 2px;
}

.icon-m-user {
  width: 15px;
  height: 12px;
}

.icon-medium-arrow-left {
  width: 8px;
  height: 16px;
}

.icon-medium-arrow-right {
  width: 8px;
  height: 16px;
}

.icon-minus {
  width: 14px;
  height: 14px;
}

.icon-next-small {
  width: 12px;
  height: 36px;
}

.icon-next {
  width: 9px;
  height: 69px;
}

.icon-plus {
  width: 14px;
  height: 14px;
}

.icon-prev-small {
  width: 12px;
  height: 36px;
}

.icon-prev {
  width: 9px;
  height: 69px;
}

.icon-search {
  width: 18px;
  height: 18px;
}

.icon-show-more-plus {
  width: 14px;
  height: 14px;
}

.icon-sort-arrow {
  width: 11px;
  height: 6px;
}

.icon-t-menu {
  width: 30px;
  height: 16px;
}

.icon-tall-arrow-left {
  width: 8px;
  height: 30px;
}

.icon-tall-arrow-right {
  width: 8px;
  height: 30px;
}

.icon-tile {
  width: 22px;
  height: 14px;
}

.icon-timer {
  width: 21px;
  height: 9px;
}

.icon-triangle-arrow-left {
  width: 8px;
  height: 17px;
}

.icon-triangle-arrow-right {
  width: 8px;
  height: 17px;
}

.icon-user {
  width: 22px;
  height: 18px;
}

.icon-vk {
  width: 26px;
  height: 14px;
}

.icon-youtube {
  width: 23px;
  height: 16px;
}

