doctype html
html
	head
		meta(charset="utf-8")
		title List
		include _parts/_head
	body
		.container.my-5
			.row
				.col-12
					ul
						li: a(href="main.html") Главная
						li: a(href="post_detail.html") Детальная
						li: a(href="post_detail_gallery.html") Галерея
						li: a(href="post_create.html") Создание поста
						li: a(href="user-list.html") Список пользователей
						li: a(href="user-detail.html") Пользователь детальная
						li: a(href="tag-list.html") Список тегов
						li: a(href="tag-create.html") Создание тегов
						li: a(href="user-account-edit.html") Редактирование аккаунта
						li: a(href="post-list.html") Список постов
						li: a(href="comment-list.html") Список комментариев
