doctype html
html
	head
		meta(charset="utf-8")
		title List
		include _parts/_head
	body
		.container.my-5
			.row
				.col-12
					ul
						li: a(href="main.html") Главная
						li: a(href="post_detail.html") Детальная
