extends _layouts/_base

append vars
	-
		var title = 'Пользовательское соглашение'
		var isAuth = true
		var postDetail = true
		var withoutRightSide = true
		var userRules = true

block content
	.wall.bg-white
		.title
			h1 Пользовательское соглашение
		.post-tipical
			p Настоящее Соглашение разработано в целях урегулирования отношений между Администрацией портала Анадырь - Онлайн и физическим лицом, осуществляющим поиск и распространение информации на данном ресурсе.

			p Портал Анадырь - Онлайн является средством массовой информации, Администрация ресурса не осуществляет редактирование размещаемой информации и не несёт ответственность за её содержание.

			p Портал Анадырь - Онлайн является справочно-информационным ресурсом города Анадырь и Чукотского автономного округа.

			p На портале Анадырь - Онлайн уважается и защищается авторское право и связанные с ним личные имущественные и не имущественные права. Использование произведений без согласия автора допускается лишь в установленных законом случаях.

			p Пользователь, разместивший информацию на портале www.anadyr.org, самостоятельно представляет и защищает свои интересы, возникающие в связи с размещением указанной информации, в отношениях с третьими лицами.

			p Информация содержащаяся на данном сайте предназначена для лиц, достигших 18 лет!

			h2 1. СТОРОНЫ СОГЛАШЕНИЯ

			p Администрация портала Анадырь - Онлайн, расположенного на доменном имени anadyr.org, в дальнейшем Администрация, и физическое лицо, размещающее информацию на данном ресурсе, в дальнейшем Пользователь, заключили настоящее Пользовательское соглашение, в дальнейшем Соглашение, о нижеследующем.

			h2 2. ПРЕДМЕТ СОГЛАШЕНИЯ

			p Администрация предоставляет Пользователю право на размещение на портале www.anadyr.org следующей информации:

			ul
				li текстовой информации;
				li аудиоматериалов в формате, установленном Администрацией;
				li видеоматериалов в формате, установленном Администрацией;
				li фотоматериалов в формате, установленном Администрацией;
				li ссылок на материалы, размещённые на данном информационном ресурсе, либо на других информационных ресурсах.

			h2 3. ПРАВА И ОБЯЗАННОСТИ СТОРОН

			p Пользователь имеет право:

			ul
				li свободно осуществлять поиск, получение, передачу, производство и распространение информации на портале Анадырь - Онлайн любым законным способом;
				li комментировать предоставленную иными Пользователями информацию;
				li изменять рейтинги информации других Пользователей и осуществлять иные действия с соблюдением установленных

