extends _layouts/_base

append vars
	-
		var title = 'Редактировать аккаунт'
		var isAuth = true
		var userAccount = true
		//var withoutRightSideSmall = true
		var adminPanel = true
		var withoutRightSide = true

block content
	.wall
		.title
			h1 Редактировать email и пароль

		.user-account-edit
			.user-account-edit__email
				form.form
					.form-row
						.form-group.col-12
							label(for='post-create-form-source') Email
							input#post-create-form-source.form-control(type='email')
					.form-row
						.form-group.col-12
							label(for='post-create-form-source') Пароль
							input#post-create-form-source.form-control(type='password')
							small.form-text Оставьте поле пустым, если не хотите его менять
					.form-row
						.form-group.col-12
							label(for='post-create-form-source') Подтверждение пароля
							input#post-create-form-source.form-control(type='password')

					.form-row
						.form-group.col-12.d-flex.justify-content-end
							button.btn.btn-primary Обновить

			.user-account-edit__profile
				.title
					h1 Редактировать профиль
				form.form
					.form-row.file-upload
						.form-group.col-md-4.col-12
							.file-upload-list
								.file-upload-list__item
									//img(src="/images/file-upload-default.jpg").img-fluid
									.file-upload__remove
										+icon('trash-basket')

						.form-group.col-md-6.col-12
							.form-heading(for='post-create-form-img') Загрузить аватар
							.file-upload__small.form-text.text-muted Оптимальный размер изображения 800 x 600px и размером до 50 Мb
							label.file-upload__label
								input#post-create-form-img.file-upload__input(type='file')
								button.btn.btn-dark.btn-file Загрузить файл
					.form-row
						.form-group.col-12
							label(for='post-create-form-source') Имя
							input#post-create-form-source.form-control(type='text')
					.form-row
						.form-group.col-12
							label(for='post-create-form-meta-descr') О себе
							textarea#post-create-form-meta-descr.form-control
					.form-row
						.form-group.col-md-4.col-12
							label(for='post-create-form-date-finish') Дата рождения
							input#post-create-form-date-finish.form-control(type='date')

					.form-row.file-upload
						.form-group.col-12
							label.file-upload__label.file-upload__label__multi(for="post-create-form-multi")
								input#post-create-form-multi.file-upload__input(type='file')
								| Кликните, чтобы добавить фото или перетащите фото сюда
						.form-group.col-12
							button.btn.btn-dark.btn-banner Загрузить обложку

					.form-row
						.form-group.col-12.d-flex.justify-content-end
							button.btn.btn-primary Обновить

			.user-account-warning.warning
				.row
					.col-12.d-flex.align-items-center.justify-content-center.warning__message
						.warning__icon
							+icon('warning')
						.warning__text Внимание! При удалении учетной записи, все данные будут удалены безвозвратно!
					.col-12.d-flex.align-items-center.justify-content-end.warning__btns
						button.btn.btn-no-border Отменить
						button.btn.btn-red Обновить

			.user-account-social
				.title
					h1 Редактировать социальные сети
				form.form
					.form-row.user-account-social__list
						.form-group.col-12.user-account-social__item
							.user-account-social__item-detail
								.user-account-social__item-icon
									+icon('ua-social-vk')
								.user-account-social__item-id
									input(type="text", value="id888999").user-account-social__item-id__input.disabled
							.user-account-social__item-checkbox
								.checkbox
									label.checkbox__label
										input(type="checkbox" checked="checked").checkbox__input
										.checkbox__emulator
							.user-account-social__item-actions
								.user-account-social__item-edit
									+icon('pen')
								.user-account-social__item-remove
									+icon('trash-basket-red')

						.form-group.col-12.user-account-social__item
							.user-account-social__item-detail
								.user-account-social__item-icon
									+icon('ua-social-inst')
								.user-account-social__item-id
									input(type="text", value="AB888999").user-account-social__item-id__input
							.user-account-social__item-checkbox
								.checkbox
									label.checkbox__label
										input(type="checkbox").checkbox__input
										.checkbox__emulator
							.user-account-social__item-actions
								.user-account-social__item-edit
									+icon('pen')
								.user-account-social__item-remove
									+icon('trash-basket-red')

					.form-row.user-account-social__add
						.form-group.col-lg-4.col-md-5.col-12
							.dropdown.white(data-dropdown="select")
								input(type="hidden", value="", class="dropdown__value")
								.dropdown__name Социальные сети
								.dropdown__label
									.dropdown__label__text Выбирите соц. сеть
								ul.dropdown__list
									li.dropdown__item.active(data-value="Публикация") Вконтакте
									li.dropdown__item(data-value="Альбом") Инстаграмм
									li.dropdown__item(data-value="Опрос") Одноклассники
									li.dropdown__item(data-value="События") Facebook
						.form-group.col-lg-8.col-md-7.col-12
							label Ссылка на социальную сеть
							input.form-control(type='text')
					.form-row
						.form-group.col-12
							button.btn.btn-small + Добавить соц сеть
					.form-row
						.form-group.col-12.d-flex.justify-content-end
							button.btn.btn-primary Обновить

			.user-account-notifications
				.title
					h1 Редактировать уведомления
				form.form
					.form-row.user-account-notifications__list
						.form-group.col-12.user-account-notifications__item
							.user-account-notifications__item-text Получать уведомления о новых комментариях
							.user-account-notifications__item-checkbox
								.checkbox
									label.checkbox__label
										input(type="checkbox", checked="checked").checkbox__input
										.checkbox__emulator
						.form-group.col-12.user-account-notifications__item
							.user-account-notifications__item-text Получать уведомления о новых подписчиках
							.user-account-notifications__item-checkbox
								.checkbox
									label.checkbox__label
										input(type="checkbox").checkbox__input
										.checkbox__emulator
						.form-group.col-12.user-account-notifications__item
							.user-account-notifications__item-text Получать уведомления об упоминаниях
							.user-account-notifications__item-checkbox
								.checkbox
									label.checkbox__label
										input(type="checkbox").checkbox__input
										.checkbox__emulator
						.form-group.col-12.user-account-notifications__item
							.user-account-notifications__item-text Получать дайджест на почту
							.user-account-notifications__item-checkbox
								.checkbox
									label.checkbox__label
										input(type="checkbox").checkbox__input
										.checkbox__emulator


					.form-row
						.form-group.col-12.d-flex.justify-content-end
							button.btn.btn-primary Обновить




