.like_box
	.like__user__list
		.user
			.user-avatar
				.user-avatar-photo
					img(src="images/face_1.png")
		.user
			.user-avatar
				.user-avatar-name(style="background-color: #A5E2E4; color: #29B2B7") СВ
		.user
			.user-avatar
				.user-avatar-name(style="background-color: #A3D6B9; color: #628772") ТА
		.user
			.user-avatar
				.user-avatar-name(style="background-color: #B0CEF0; color: #6480A2") СВ
	.like__list
		.icon_box.like__item
			+icon('like')
			span.like__value 25
		.icon_box.like__item
			+icon('dislike')
			span.like__value 5
		.icon_box.like__item
			+icon('comments')
			span.like__value 36
		.icon_box.like__item
			+icon('views')
			span.like__value 126
		.icon_box.like__item
			+icon('bookmarks')

