.like_box
	.like__list
		.icon_box.like__item
			+icon('like')
			span.like__value 25
		.icon_box.like__item
			+icon('dislike')
			span.like__value 5
		.icon_box.like__item
			+icon('comments')
			span.like__value 36
		.icon_box.like__item
			+icon('views')
			span.like__value 126
		.icon_box.like__item
			+icon('bookmarks')

