@media(max-width: 1620px)
	.header__userbar
		padding-right: 15px
		.dropdown:not(:first-child)
			margin-left: 1.5rem
		.post_create
			position: relative
			top: 0
			right: 0
			width: 40px
			height: 40px
			margin-left: 1rem
	.like__item
		&:not(:last-child)
			margin-right: 10px
@media(max-width: 1440px)
	.post__item
		flex-wrap: wrap
	.post-recomended
		margin-bottom: 50px
	.post-slider .post__content,
	.post__list .post__content,
	.post__detail .post__content
		padding: 20px 15px !important
	.post__list .post__banner,
	.post__detail .post__banner
		margin: 0 -15px
		margin-bottom: 15px
	.post__item
		.like__user__list
			margin-right: 10px
	.post__item.columns
		flex-wrap: wrap
	.post__item__col,
	.post__list .post__item__col__left,
	.post__detail .post__item__col__left,
	.post__list .post__item__col__right,
	.post__detail .post__item__col__right
		flex-basis: 100%
		max-width: 100%
	.post__list .post__gallery,
	.post__detail .post__gallery
		margin-left: -15px
		margin-right: -15px
	.post__list .post__item.columns .post__banner,
	.post__detail .post__item.columns .post__banner
		margin-bottom: 20px
	.post__list .post__item.columns .post__body,
	.post__detail .post__item.columns .post__body
		padding: 0

	.detail
		padding-left: 0
		padding-right: 0

	.post__btns
		flex-wrap: wrap
		> .user
			margin-bottom: 10px

	.content .wall
		padding-left: 0
		padding-right: 0




@media #{$desktop}


@media #{$desktop-above}
	.post-slider .post__banner

		flex-basis: 47.446%
		max-width: 47.446%

@media #{$laptop}
	.header__userbar
		padding-right: 15px
		.dropdown:not(:first-child)
			margin-left: 1rem
	.content .wall
		padding-left: 0
		padding-right: 0
	.navbar .nav-item
		font-size: .75rem
	.navbar.nav_main .nav-item .nav-link_circle
		margin-right: 5px
	.navbar.nav_main .nav-item .nav-link:hover .nav-link_text,
	.navbar.nav_main .nav-item .nav-link.active .nav-link_text
		padding-left: 20px

	.tag_filter__item:not(:last-child)
		margin-right: 15px

	.post-slider .post__btns,
	.post__list .post__btns
		flex-wrap: wrap
		> .user
			margin-bottom: 10px

	.user-card__header,
	.user-card__footer
		padding: 15px
	.user-actions__item
		margin-bottom: 5px
	.tag-list__item__inner
		padding: 10px
		padding-right: 25px

	.post-list__item__footer
		flex-direction: column
		align-items: flex-start
	.post-list__item__user
		margin-bottom: 10px

	.comments-item__body
		flex-direction: column
		justify-content: flex-start
	.comments-item__user
		margin-bottom: 20px

@media #{$laptop-above}

@media #{$tablet}

@media #{$tablet-above}

@media #{$mobile}

@media #{$mobile-above}

@media #{$mobile-xs}

@media #{$mobile-above-xs}

