.dropdown
	position: relative
	margin-bottom: 20px
	&__name
	&__label
		padding-bottom: 17px
		border-bottom: 1px solid var(--color-16)
		cursor: pointer
		&__text
			position: relative
			font-size: .875rem
			line-height: 1.063rem
			color: var(--color-7)
			background: url('/images/icon-arrow-down.svg') no-repeat center right
			cursor: pointer
	&__list
		background: var(--color-white)
		border: 1px solid var(--color-17)
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.04)
		padding: 17px 0 20px 0

		display: none

		position: absolute
		top: 48px
		width: 100%
		z-index: 1
	&__item
		font-size: .875rem
		line-height: 1.875rem
		color: var(--color-8)
		padding: 0 20px
		cursor: pointer
		&.active,
		&:hover
			background: var(--color-18)

	&.white
		//margin-bottom: 25px
		.dropdown__name
			font-size: 0.875rem
			line-height: 1.063rem
			margin-bottom: 12px
		.dropdown__label
			background-color: var(--color-white)
			padding: 11px
			padding-right: 20px
		.dropdown__list
			top: 68px

.is-open .dropdown
	&__list
		display: block

// bootstrap
@media(min-width: 1440px)
	.dropdown-menu-right
		left: 50% !important
		right: auto !important
		transform: translate(-50%, 0) !important


[data-dropdown-type]
	margin-bottom: 0
	.dropdown-toggle
		display: inline-block
	.dropdown-toggle::after
		display: none
	.dropdown-menu
		border: 1px solid #F1F1F1
		box-sizing: border-box
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.04)
		min-width: 215px
		padding: 20px

		font-weight: normal
		font-size: .75rem
		line-height: 1rem
		color: #333333
	.dropdown-menu.show
		top: calc(100% + 35px) !important
	.dropdown-list
		width: 100%
		margin-bottom: 20px
	.dropdown-item
		padding: 0
		white-space: initial
		//&:not(:last-child)
			border-bottom: 1px solid #D6D6D6
			padding-bottom: 10px
			margin-bottom: 15px
		//&:last-child
			margin-bottom: 20px
		&:hover
			background-color: initial
		&:active
			color: #333333
	.dropdown-divider
		margin-bottom: 10px
		margin-bottom: 15px
	.dropdown-item__text
		margin-bottom: 10px
		a
			font-weight: 600
			border-bottom: 1px solid
	.dropdown-item__date
		color: #848484

[data-dropdown-type="services"]
	.dropdown-list
		margin-bottom: 0
	.dropdown-item
		display: flex
		flex-direction: column
		align-items: center
		flex-basis: 50%
		border: 0 !important
		text-align: center
		margin-bottom: 0 !important
		padding: 0 !important
		&:not(:nth-last-child(-n+2))
			margin-bottom: 30px !important
	.dropdown-list
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	.dropdown-item__icon
		margin-bottom: 10px
	.dropdown-item__text
		margin-bottom: 0

[data-dropdown-type="notice"]


[data-dropdown-type="user-menu"]
	.dropdown-menu.show
		top: calc(100% + 25px) !important
	.dropdown-user-menu__name
		margin-bottom: 7px
	.dropdown-user-menu__tag
		display: block
		color: #848484
	.dropdown-item
		&:not(:last-child)
			margin-bottom: 10px
	.dropdown-item__link
		display: block

[data-dropdown-type="sidebar-more"]
	.dropdown-menu.show
		top: 0 !important
	.dropdown-list
		margin-bottom: 0
	.dropdown-item
		&:not(:last-child)
			margin-bottom: 10px

[data-dropdown="dots"]
	.dropdown-toggle::after
		display: none
	.dropdown-menu.show
		padding: 0
		border-radius: 0
		position: relative
		background: #fff
		border: 1px solid #ECECEC
		left: 25px !important
		top: -10px !important

	.dropdown-item
		font-weight: normal
		font-size: .75rem
		line-height: 1rem
		color: #333333
		padding: 12px 15px
		&:hover
			background-color: #F4F4F4
		&:active
			color: #333333

	@media #{$laptop-above}
		.dropdown-menu:before,
		.dropdown-menu:after
			right: 100%
			top: 50%
			border: solid transparent
			content: ""
			height: 0
			width: 0
			position: absolute
			pointer-events: none

		.dropdown-menu:after
			border-color: rgba(255, 255, 255, 0)
			border-right-color: #fff
			border-width: 11px
			margin-top: -18px
		.dropdown-menu:before
			border-color: rgba(236, 236, 236, 0)
			border-right-color: #ECECEC
			border-width: 12px
			margin-top: -19px

	@media #{$laptop}
		.dropdown-menu.show
			left: initial !important
			right: 25px
			transform: translate3d(0, 0px, 0px) !important
		.dropdown-menu:before,
		.dropdown-menu:after
			left: 100%
			top: 50%
			border: solid transparent
			content: ""
			height: 0
			width: 0
			position: absolute
			pointer-events: none

		.dropdown-menu:after
			border-color: rgba(255, 255, 255, 0)
			border-left-color: #fff
			border-width: 11px
			margin-top: -29px
		.dropdown-menu:before
			border-color: rgba(236, 236, 236, 0)
			border-left-color: #ECECEC
			border-width: 12px
			margin-top: -30px



@media(max-width: 1440px)
	[data-dropdown-type] .dropdown-menu.show
		top: calc(100% + 15px) !important
